.card {
  border: 1px solid #77b67a;
  background-color: #d6f58e;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 90%;
  height: auto;
  border-radius: 8px;
}

.addToCartButton {
  background-color: #56b30a; /* Color similar al borde */
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.addToCartButton:hover {
  background-color: #b88e06; /* Un verde más oscuro para el hover */
}

